{% extends 'base.html' %}

{% block title %}Preview{% endblock %}

{% block content %}
<section class="preview">
    <h2>Your Tailored Resume</h2>
    <p>
        Here’s a preview of your optimized resume based on the job description you uploaded.
    </p>
    <div class="resume-preview-box">
        <embed src="{% url 'serve_pdf_preview' %}" type="application/pdf" width="100%" height="800px" />
    </div>

    <a href="{% url 'serve_pdf_download' file_name=file_name %}" class="btn-download">Download PDF</a>
</section>
{% endblock %}
