{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<section class="intro">
    <h2>Welcome to Resume Tailor</h2>
    <p>
        Upload your resume and job description — our smart system will personalize your resume for the job you want.
    </p>
    <p>
        Just two simple steps to get your tailored resume instantly!
    </p>

    <form  method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</section>
{% endblock %}
