{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div class="main-container">

    <div class="form-card">

        <section class="intro">
            <h2>Welcome to Resume Tailor</h2>
            <p>
                Upload your resume and job description — our smart system will personalize your resume for the job you want.
            </p>
            <p>
                Just two simple steps to get your tailored resume instantly!
            </p>
        </section>

        <form method="post" enctype="multipart/form-data" class="upload-form">
           {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="form-errors">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


    <div class="form-group">
        {{ form.job_description.label_tag }}
        {{ form.job_description }}

        {% if form.job_description.errors %}
            <div class="form-errors">
                {{ form.job_description.errors }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.resume_pdf_file.label_tag }}
        {{ form.resume_pdf_file }}

        {% if form.resume_pdf_file.errors %}
            <div class="form-errors">
                {{ form.resume_pdf_file.errors }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn-primary">Upload & Tailor Resume</button>
        </form>

    </div>
</div>
{% endblock %}